:root {
  --primary-text: #1a1a1a;
  --primary-teal: #9AB4AF;
  --primary-blue: #A0B7C1;
  --background-light: #DDDAD5;
  --background-dark: #595959;
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
  flex-direction: column;

}

.header a {
  color: var(--primary-blue) !important;
}

.container {
  max-width: 50em;
  margin:auto;
  padding: 2em 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header ul li{
  margin: 0 0.1em;
}

.header ul li svg {
  margin-right: 0.3em;
}

.header ul li a {
  display: flex;
  align-items: center;
  font-size: small;
}

.card.auth {
  display: flex;
  flex-direction: column;
  padding:2em !important;
  align-items: center;
  text-align-last: center;
  margin: auto !important;
}

.card.auth form * {
  margin-bottom: 0.75em;
}

.item {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item .item-pledge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item .item-pledge .progress {
  flex-grow: 2;
  margin-right: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.item button {
  height: 1.76em;
  padding: 0.5em !important;
}
.item button svg {
  height: 0.75em;
}

button.primary {
  background: var(--primary-blue) !important;
}
button.secondary {
  background: var(--background-dark) !important;
}

.progress .bar {
  background: var(--primary-blue) !important;
}

.edit-item {
  position: absolute !important;
  right:0;
  z-index: 10;
  padding: 0.5em !important;
  background-color: var(--background-light) !important;
}

.edit-item span {
  position: absolute;
  right:0.5em;
  height: 1em;
  width: 1em;
  padding: 0;
}

.form-group.edit-form {
  display:flex;
  flex-direction: row;
  align-items: baseline;
  padding-top:0.5em;
  
}
.edit-form input {
  margin-right: 0.5em !important;
  height: 1.8em;
  padding: 0.75em 0 0.75em 1em !important;
}

.edit-form input#newPledge, .edit-form input#total_needed{
  width: 5em !important;
}
.edit-form button {
  flex-grow: 2;
}

.hide {
  display:none !important;
}

.item-heading {
  background: var(--background-dark);
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
  color: white;
}

.home-header {
  margin-bottom: 5em !important;
  padding: 0.5em !important;
}

.form.heading p {
  text-align: justify;
}

.manage-item-list ul {
  list-style-type: none;
}

.manage-item-list ul li {
  margin:0;
  padding:0;
}

.manage-item-list ul .item {
  display: flex;
  flex-direction: row;
  line-height: 1em;
  align-items: center;
}

.manage-item-list .options {
  font-style: italic;
  float: right;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.manage-item-list .options .status {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.manage-item-list .options .status span {
  font-size: large;
  margin-left: 0.5em;
}

.bulk-loader {
  margin-bottom: 3em;
}

.tablerow {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto auto auto; */

}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--background-dark);
}

table td, table th {
  margin: 0;
  padding:0.3em;
  border: 1px solid var(--background-dark);
}

table th {
  background-color: var(--primary-teal);
}

table tr:nth-child(2n) {
  background-color: var(--background-light);
}

table tr.new-section {
  border-top: 5px solid #1a1a1a;
}

.print {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: white;
}

.tools {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.manage-item-list input[type=checkbox] {
  height: 1.4em;
  width: 1.4em;
  float:right;
}

.load-segment {
  height: 15em;
}

@media only screen and (max-width: 550px){
  .container .ui.header {
    flex-direction: column;
  }
  .container .ui.header ul li a {
    font-size: larger;
    line-height: 1.5rem;
  }
  .item {
    font-size: larger;
  }
  .item .ui.progress.active.indicating.medium, .item .buttons .button {
    font-size: larger;
    line-height: 1.5rem;
  }
  .manage-item-list.pledges {
    overflow-x: scroll;
  }
}